.form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.logo {
  margin-top: 20px;
}

.primary-color {
  color: #ff0000;
}

.calendar-container {
  margin-left: 100px;
  margin-right: 100px;
}

.logout-button {
  text-align: center;
  margin: auto;
  max-width: 150px;
}

.edit-users {
  max-width: 900px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.edit-hospitals {
  max-width: 900px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.user-nav {
  width: 100%;
  max-width: 700px;
  padding: 15px;
  margin: auto;
  height: 100%;
  padding-top: 30px;
}

.active-nav {
  font-weight: bold;
}

.nav-item {
  margin: 5px;
}

.ward-row {
  margin: 5px;
}
